* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circuit {
  overflow: hidden !important;
}

.sidebar-container::-webkit-scrollbar {
  width: 6px;
}
.sidebar-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.sidebar-container::-webkit-scrollbar-thumb {
  background-color: var(--text-neutral-color);
  border-radius: 1in;
}